{% extends 'pages/index.html' %} 
{% load static %}

{% block content %}
    <div class="container-fluid martop7">
        <div class="jumbotron jumcust">
            <h2>Delete Employee</h2>
            <p>Are you sure you want to delete employee '{{ employee.first_name }} {{ employee.last_name }}'?</p>
            
            <form method="post" action="{% url 'delete_employee' employee_id=employee.employee_id %}">
                {% csrf_token %}
                
                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                
                <a href="{% url 'emptable' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
