{% load static %}
<div class="modal fade" id="modalContactForm" tabindex="-1">
    <form action="https://formspree.io/soham5959595@gmail.com" method="post">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i><label class="modaltext" for="form34"> Your name</label>
                        <input type="text" id="form34" name="cu-name" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i><label class="modaltext" for="form29"> Your email</label>
                        <input type="email" id="form29" name="cu-mail" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fa fa-tag prefix grey-text"></i><label class="modaltext" for="form32"> Subject</label>
                        <input type="text" id="form32" name="cu-subject" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix grey-text"></i><label class="modaltext" for="form8"> Your message</label>
                        <textarea type="text" id="form8" name="cu-message" class="md-textarea form-control"
                                  rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-brown">Send <i class="fas fa-paper-plane ml-1"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<footer id="contact" class="container-fluid text-center">
    <div class="row">
        <div class="left-footer col-lg-6">
            <span class="footer-text">Have any queries? Contact via email darren.bisin@cvsu.edu.ph</span>
        </div>
        
            <span class="linkto" data-toggle="modal" data-target="#modalContactForm"><i
                    class="fa fa-envelope prefix mr-1"></i> Contact Us</span>
        </div>
    </div>
</footer>